<a href="https://colab.research.google.com/github/hieubkset/Colab-Notebooks/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Học Pandas trong 5 phút

![pandas](https://1.bp.blogspot.com/-TFpGqKhrhe0/WTImZqTY2fI/AAAAAAAADmk/T-ieF0Cm9cAsYCuOKflQmnWYrdTqHMmUgCLcB/s400/pandas.png)

[Pandas](https://pandas.pydata.org/) là một thư viện cung cấp các hàm dùng để đọc, ghi, thao tác với tệp csv - một loại tệp tương tự như Excel. 

Tệp csv được dùng để lưu các thông tin theo hàng vào cột. Trong đó, mỗi cột là một trường thông tin, mỗi hàng là một bản ghi. Một ví dụ về tệp csv như sau:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>person_ID</th>
      <th>name</th>
      <th>first</th>
      <th>last</th>
      <th>middle</th>
      <th>email</th>
      <th>phone</th>
      <th>fax</th>
      <th>title</th>
      <th>age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3130</td>
      <td>Burks, Rosella</td>
      <td>Rosella</td>
      <td>Burks</td>
      <td>NaN</td>
      <td>BurksR@univ.edu</td>
      <td>963.555.1253</td>
      <td>963.777.4065</td>
      <td>Professor</td>
      <td>41</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3297</td>
      <td>Avila, Damien</td>
      <td>Damien</td>
      <td>Avila</td>
      <td>NaN</td>
      <td>AvilaD@univ.edu</td>
      <td>963.555.1352</td>
      <td>963.777.7914</td>
      <td>Professor</td>
      <td>49</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3547</td>
      <td>Olsen, Robin</td>
      <td>Robin</td>
      <td>Olsen</td>
      <td>NaN</td>
      <td>OlsenR@univ.edu</td>
      <td>963.555.1378</td>
      <td>963.777.9262</td>
      <td>Assistant Professor</td>
      <td>48</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1538</td>
      <td>Moises, Edgar Estes</td>
      <td>Edgar</td>
      <td>Moises</td>
      <td>Estes</td>
      <td>MoisesE@univ.edu</td>
      <td>963.555.2731x3565</td>
      <td>963.777.8264</td>
      <td>Professor</td>
      <td>38</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2941</td>
      <td>Brian, Heath Pruitt</td>
      <td>Heath</td>
      <td>Brian</td>
      <td>Pruitt</td>
      <td>BrianH@univ.edu</td>
      <td>963.555.2800</td>
      <td>963.777.7249</td>
      <td>Associate Curator</td>
      <td>38</td>
    </tr>
  </tbody>
</table>

Tệp csv thường được dùng trong Machine Learning như lưu trữ dataset hoặc để lưu dự đoán của model. Một ví dụ sử dụng tệp csv trên [Kaggle](https://www.kaggle.com/c/digit-recognizer/data).

Trong bài này, chúng ta sẽ tìm hiểu cách làm việc với tệp csv sử dụng Pandas.

## Khai báo thư viện

In [0]:
import pandas as pd

Tải tệp `people.csv` để làm ví dụ.

In [0]:
!wget https://ezcodin.com/img/pandas01/people.csv

## 1. Đọc một tệp csv

In [0]:
people_df = pd.read_csv('people.csv', encoding='utf-8', header=0, sep=',')

Sử dụng hàm `pd.read_csv` và truyền vào các tham số:

+ địa chỉ tệp csv
+ encoding: mặc định là 'utf-8'
+ header: số thứ tự của hàng header
+ sep: cho biết cách các trường dữ liệu được ngăn cách

Ví dụ về nội dung của một tệp csv:

In [0]:
person_ID,name,first,last,middle,email,phone,fax,title,age
3130,"Burks, Rosella ",Rosella,Burks,,BurksR@univ.edu,963.555.1253,963.777.4065,Professor ,41
3297,"Avila, Damien ",Damien,Avila,,AvilaD@univ.edu,963.555.1352,963.777.7914,Professor ,49
3547,"Olsen, Robin ",Robin,Olsen,,OlsenR@univ.edu,963.555.1378,963.777.9262,Assistant Professor,48
1538,"Moises, Edgar Estes",Edgar,Moises,Estes,MoisesE@univ.edu,963.555.2731x3565,963.777.8264,Professor,38
2941,"Brian, Heath Pruitt",Heath,Brian,Pruitt,BrianH@univ.edu,963.555.2800,963.777.7249,Associate Curator ,38

Dòng thứ nhất cho biết các header, hay tên đại diện cho các trường thông tin: person_ID, name,..., age.
Thông thường truyền `header=None` (tệp csv không có chứa header) hoặc `header=0` (header nằm ở hàng đầu tiên).

`sep` thường là dấu `,` hoặc khoảng trắng.

In [0]:
type(people_df)

Hàm `pd.read_csv` trả về một đối tượng thuộc kiểu [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html).

## 2. Xem các bản ghi đầu tiên

Sử dụng hàm `df.head` và truyền vào số bản ghi muốn xem.

Note: `df` là viết tắt của DataFrame. Viết `df.head` tức `head` là một phương thức của lớp DataFrame.

In [0]:
people_df.head(5)

## 3. Xem các bản ghi cuối cùng

Sử dụng hàm `df.tail` và truyền vào số bản ghi muốn xem.

In [0]:
people_df.tail(5)

## 4. Xem thông tin về số lượng bản ghi, số trường dữ liệu

In [0]:
people_df.shape

In [0]:
len(people_df)

In [0]:
people_df.info()

Tệp `people.csv` lưu 40 bản ghi, mỗi bản ghi có 10 trường dữ liệu.

## 5. Truy xuất dữ liệu

Ta có thể coi `DataFrame` giống như một mảng 2 chiều. Trong đó chỉ số của hàng được đánh từ `0 1 ... N` (N là tổng số bản ghi) và chỉ số cột là các header.

**Lấy một cột:**

In [0]:
names = people_df['name']
names.head(5)

In [0]:
type(names)

Một cột sẽ có kiểu dữ liệu là [Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html) - giống như mảng một chiều.

**Lấy nhiều cột:**

In [0]:
names_and_ages = people_df[['name', 'email']]
names_and_ages.head(5)

In [0]:
type(names_and_ages)

**Lấy bản ghi theo chỉ số:**

In [0]:
people_df[1:4]

**Kết hợp chỉ số hàng và cột:**

In [0]:
people_df[['name', 'title']][3:6]

**Lấy bản ghi theo điều kiện:**

Tìm những người có tuổi từ 25 trở xuống:

In [0]:
young_people = people_df[people_df['age'] < 25]
young_people

Tìm những người là giáo sư:

In [0]:
professors = people_df[people_df['title'] == 'Professor']
professors

**Chuyển đổi `Series` về `Numpy`:**

In [0]:
names = people_df['name'].values
print(names)
type(names)

## 6. Thêm một cột

Nó giống như các ta thêm một key-value đối với dictionary.

Ví dụ, thêm cột năm sinh:

In [0]:
df_len = len(people_df)
birthday = 2020 - people_df['age'] 
people_df['birthday'] = birthday
people_df.tail(5)

Thêm cột `is_young` cho biết dưới hay trên 25 tuổi.

In [0]:
people_df['is_young'] = people_df['age'] < 25
people_df.head(5)

Thêm một cột với dữ liệu trống:

In [0]:
people_df['none_column'] = None
people_df.head(5)

## 7. Xóa cột

In [0]:
people_df.drop('none_column', axis=1, inplace=True, errors='ignore')
people_df.head(5)

Các tham số: 

+ tên cột 
+ axis=1 (ví lệnh drop cũng dùng để xóa hàng)
+ inplace: xóa trực tiếp trong đối tượng (`True`), hoặc tạo một bản sao và xóa trong bản sao (`False`)
+ errors: `ignore` hoặc `raise`. Nếu là `raise` sẽ tạo ra một Exception nếu không có cột yêu cầu.

## 8. Xóa bản ghi

In [0]:
people_df.drop([0, 1], axis=0, inplace=True, errors='ignore')
people_df.head(5)

Tương tự xóa cột, xóa bản ghi hay xóa hàng cần truyền vào chỉ số bản ghi và `axis=0`.

## 9. Lưu DataFrame thành tệp csv

In [0]:
people_df.to_csv('people.csv', encoding='utf-8', header=0, sep=',')

Các tham số giống với hàm `pd.read_csv`.